.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
@media (min-width: 500px) {
  .NavigationItems {
    margin: -4px 0 -4px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
  }
}
